.container-atributo-conteudo {
    height: 460px !important;
    padding-left: 300px;
    padding-right: 50px;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

.container-busca-atributo {
    height: 120px;
    display: flex;
    padding-top: 10px;
}

    .container-busca-atributo input {
        box-sizing: border-box;
        width: 60%;
        height: 47px;
        background: #FCFCFC;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

.container-titulo {
    display: flex;
}

    .container-titulo img {
        width: 60px;
        height: 59.1px;
    }

    .container-titulo font {
        margin-left: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        color: #0F377E;
        backdrop-filter: blur(2px);
    }

.container-atributos {
    display: flex;
}

.card-atributo {
    width: 250px;
    height: 300px;
    background: #D9D9D9;
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
}

.card-atributo-header {
    display: inline-flex;
    margin-top: 15px;
}

    .card-atributo-header label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        color: #0F377E;
        backdrop-filter: blur(2px);
    }

.card-atributo-header button {
    border: unset;
    background: unset;
}

::placeholder {
    text-align: center
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
