a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.imgLogoHeader {
    position: absolute;
    width: 252px;
    height: 90px;
    left: 13px;
    top: -1px;
}

.imgLogoSaa {
    width: 122px;
    height: 51px;
    position: absolute;
    left: 250px;
}

.navbar {
    height: 90px;
    background-color: #F2F2F2;
    box-shadow: 21px 1px 10px 4px rgba(0, 0, 0, 0.4);
}

.container-nav {
    width: 100%;
}

.navbar-cati {
    z-index: 3;
}